@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
}


a:link {
  color:black
}

a:visited {
  color: white;
}

a:hover {
  color: black;
}

a:active {
  text-decoration: underline white ipk solid;
}